<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SATS home page</title>
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>
  <div style="float: left; position: fixed; margin-left: 30px; margin-top: 430px;">
    <div>
      <a href="https://www.whatsapp.com/">
        <img src="../images/whats app.png" alt=":(" width="40px">
      </a>
    </div>
    <div>
      <a href="https://www.gmail.com/">
        <img src="../images/email.png" alt=":(" width="40px"></a>
    </div>
    <div>
      <a href="https://www.gmail.com/">
        <img src="../images/phone.png" alt=":(" width="40px">
      </a>
    </div>
    <div id="fb">
      <a href="https://www.gmail.com/">
        <img src="../images/fb.png" alt=":(" width="40px">
      </a>
    </div>
  </div>
  <div>
    <header>
      <img src="../images/SIS.png" alt="error" id="image">
      <div style="float:right;" id="bar"><a href="/about" id="underline">
          <h2 style="font-weight: 100; color: black" id="bottom">About US</h2>
        </a></div>
      <div style="float:right;" id="bar"><a href="/contact" id="underline">
          <h2 style="font-weight: 100; color: black;" id="bottom">Contact US</h2>
        </a></div>
      <div style="float:right;" id="bar"><a href="/" id="underline">
          <h2 style="font-weight: 100; color: black" id="bottom">Home Page</h2>
        </a></div>

    </header>
    <div style="width: 100%;">
      <div style="float:left; margin-right: 20px; " id="about">
        <h1>Smart Attendance Tracking System</h1>
        <p id="para">
          The Smart Attendance Tracking System (SATS) is a web-based platform designed to streamline and automate the
          management of attendance data in educational institutions. The system allows teachers, students, and
          administrators to easily track, manage, and access attendance records.

          <br><br>
          The SATS system enables the collection of attendance data for each class, including student presence, subject
          details, faculty, and class timings. It ensures that accurate records are maintained for every student and
          every class session.

          <br><br>
          One of the key features of SATS is that attendance information is securely accessible to registered students,
          teachers, and administrators. This ensures transparency and allows stakeholders to stay updated on student
          participation and class schedules.
        </p>

      </div>
      <div id="form" style="float:left;">
        <br>
        <h1 id="student">Choose User</h1>
        <hr>
        <div id="info">
          <form action="">
            <br>
            <a href="/admin-login"><button type="button" id="stch">ADMIN</button></a>
            <br><br>
            <hr>
            <a href="/student-login"><button type="button" id="stch"
                style="background-color: green;">STUDENT</button></a>
            <br><br>
            <hr>
            <a href="/faculty-login"><button type="button" id="stch"
                style="background-color: green;">FACULTY</button></a>
            <br><br>
            <hr>


          </form>
          <div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>